<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wild Powers</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- main css -->
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>

	<div class="container-fluid">
	<!--
        <header class="box-header">
    
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
        </header>   -->

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label"><a href="index.html">Home</a></li>
            </ul>
        </nav>
        <!-- end nav -->

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <div id="result">
                    <h2>:( Sorry. You have bad luck.</h2>
                </div> 
                <a href="index.html"><button class="button">TRY AGAIN.</button></a> 
            </div>
        </section>

    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">Wildcards Power | Make or Break 2018</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="../js/menu.js"></script>

    <!--  custom script -->
    <script src="../js/custom.js"></script>

</body>
</html>