<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wild Powers</title>

    <!-- Bootstrap -->
    <link href="../css/views/bootstrap.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>

	<div class="container-fluid">
        <header class="box-header">
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
        </header>

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label"><a href="index.html">Home</a></li>
                <!--<li><a href="index.html">INTRO</a></li>-->
                <li><a href="#">INFO</a></li>
            </ul>
        </nav>
        <!-- end nav -->


	<!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">Wildcards Power | Make or Break 2018</p>
        </div>
    </footer>
    <!-- end footer -->

    <!-- jQuery -->
    <script src="../js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="../js/menu.js"></script>

    <!--  custom script -->
    <script src="../js/custom.js"></script>
    <script src="../js/countries.js"></script>


</body>
</html>