<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wild Powers</title>

    <!-- Bootstrap -->
    <link href="../css/views/bootstrap.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>

	<div class="container-fluid">
        <header class="box-header">
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
        </header>

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label"><a href="index.html">Home</a></li>
            </ul>
        </nav>
        <!-- end nav -->

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                
                    <table class="table-cell">
                        <tr>
                            <th style="text-align:left;">Income type</th>
                            <th>DTA Protocol</th> 
                        </tr>

                        <tr>
                            <td style="text-align:left;">Date of agreement</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Date of inforcement </td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Salary</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Director's fee</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Profit from immovable property</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Profit from movable property</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Dividends</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Bank Interest</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Cooperation tax</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Permanent establishment time</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Business Profits</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Royalties</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Students</td>
                            <td>lorem ipsum</td>   
                        </tr>
                        <tr>
                            <td style="text-align:left;">Pensions</td>
                            <td>lorem ipsum</td>   
                        </tr>

                    </table>

                    <!--<div id="info">
                    <h2>Date of agreement</h2><p>lorem ipsum</p>
                </div>-->
                 
            </div>

            

        </section>



	<!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">Wildcards Power | Make or Break 2018</p>
        </div>
    </footer>
    <!-- end footer -->

    <!-- jQuery -->
    <script src="../js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="../js/menu.js"></script>

    <!--  custom script -->
    <script src="../js/custom.js"></script>
    <script src="../js/countries.js"></script>


</body>
</html>