<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wild Powers</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- modernizr -->
    <!--<script src="js/modernizr.js"></script>-->

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <header class="box-header">
                <!--<a href="index.html">-->
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
        </header>

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label">Home</li>
                <li><a href="index.html">Intro</a></li>
                <li><a href="about.html">Info</a></li>
            </ul>
        </nav>
        <!-- end nav -->

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h4>In which country are you tax resident?</h4>

            <select class="dropdown_selectCountry">
                <option value="portugal">Portugal</option>
                <option value="uk">Uk</option>
                <option value="romenia">Romenia</option>
                <option value="jersey">Jersey</option>
            </select>

            </div>
            <div class="table-cell">
                <h4>From which country does your income come?</h4>
            

            <select class="dropdown_selectCountry">
                <option value="portugal">Portugal</option>
                <option value="uk">Uk</option>
                <option value="romenia">Romenia</option>
                <option value="jersey">Jersey</option>
            </select>
            </div>
            

            

            
        </section>
            
        <section></section>
    
    </div>


    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">Wildcards Power | Make or Break 2018</p>
        </div>
    </footer>
    <!-- end footer -->


    <!-- jQuery -->
    <script src="../js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="../js/menu.js"></script>

    <!--  custom script -->
    <script src="../js/custom.js"></script>
    <script src="../js/countries.js"></script>

</body>

</html>