<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wild Powers</title>

    <!-- Bootstrap -->

    <!--    <link href="../css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--  plugins -->
    <script src="../js/menu.js"></script>

    <!--  custom script -->
    <script src="../js/custom.js"></script>
    <script src="../js/countries.js"></script>


</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <header class="box-header">
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span>
                <span class="box-menu-icon"></span>
            </a>
        </header>

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label">
                    <a href="index.html">Home</a>
                </li>
            </ul>
        </nav>
        <!-- end nav -->

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h4>In which country are you tax resident?</h4>

                <div id="residenceSection"> </div>

            </div>
            <div class="table-cell">
                <h4>Where does your income comes from?</h4>

                <div id="incomeSection"> </div>

            </div>



            <!--       <a href="./2screen.html"><button class="button" id="checkDTAButton" onclick="checkDTA()">GO NOW!</button></a>  -->
            <div class="table-cell">
                <button class="button" id="checkDTAButton" onclick="checkDTA()">GO NOW!</button>
            </div>
        </section>


    </div>

    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">Wildcards Power | Make or Break 2018</p>
        </div>
    </footer>
    <!-- end footer -->


    <script>
        function checkDTA() {
            if (false) {
                //$("#result").append("<p>There is a DTA</p>")
                console.log("There is a DTA")
            } else {
                //		$("#result").append("<p>There is no DTA</p>")
                console.log("There is no DTA")
            }
        }
    </script>
    <script>
        function checkDTA() {
            //    require("../js/countries.js")
            console.log(countryDB[0].country)

            if (false) {
                //$("#result").append("<p>There is a DTA</p>")
                console.log("There is a DTA")
            } else {
                //		$("#result").append("<p>There is no DTA</p>")
                console.log("There is no DTA")
            }
        }
    </script>
</body>

</html>